In [1]:
#Print First 10 natural numbers using while loop
i = 1
while(i <= 10):
    print(i)
    i = i+1

1
2
3
4
5
6
7
8
9
10

In [2]:
#Write a program to print the following number pattern using a loop.
print("Number pattern")
i = 5
for i in range(1 , i+1 ,1):
    for j in range(1 , i+1):
        print(j , end ='')
    print("")

Number pattern
1
12
123
1234
12345

In [2]:
#Calculate the sum of all numbers from 1 to a given number
num = int(input("enter the number"))
x = sum(range(1 , num+1))
print(x)

enter the number12
78

In [1]:
#Write a program to print multiplication table of a given number
num = int(input("enter the number"))
for i in range(1 , 11 ,1):
    product = num * i
    print(product)

enter the number12
12
24
36
48
60
72
84
96
108
120

In [2]:
#Display numbers from a list using loop
n = [1,2,3,44,5,6,7,8,9,9,0]
for i in n:
    print(i)

1
2
3
44
5
6
7
8
9
9
0

In [6]:
#Display numbers from a list divisible by 5 using loop 
number = [12,150,25,14,15,20,30,35,40,45,50]
for i in number:
    if i > 500:
        break
    elif i > 150:
        continue
    elif i % 5 == 0:
        print(i)

150
25
15
20
30
35
40
45
50

In [8]:
# Count the total number of digits in a number
num = 567899087
count = 0
while num != 0:
    num = num//10
    count = count+1
print(count)

9

In [10]:
#Print list in reverse order using a loop
l = [12,23,445,667,76,54,32]
print(l[::-1])

[32, 54, 76, 667, 445, 23, 12]

In [12]:
#Display numbers from -10 to -1 using for loop
for i in range(-10,0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [14]:
#Use else block to display a message “Done” after successful execution of for loop
for i in range(10):
    print(i)
else:
    print("done")

0
1
2
3
4
5
6
7
8
9
done

In [17]:
#Write a program to display all prime numbers within a range
start = 25
end = 50
for num in range(start , end+1):
    if (num > 1):
        for i in range(2 , num):
            if(num % i == 0):
                break
        else:
            print(num)

29
31
37
41
43
47

In [19]:
#Display Fibonacci series up to 10 terms
num1 = 0
num2 = 1
for i in range(10):
    print(num1 , end = " ")
    res = num1 + num2
    num1 = num2 
    num2 = res

0 1 1 2 3 5 8 13 21 34

In [22]:
#Find the factorial of a given number
num = 5 
factorial = 1
if(num < 0):
    print("Factorial of negativve number doesnt exist")
elif(num == 0):
    print("Factorial of 0 is 1")
else:
    for i in range(1 , num+1):
        factorial = factorial*i
    print(factorial)

120

In [28]:
#Reverse a given integer number
num = 1234556
print(str(num)[::-1])

6554321

In [39]:
#Use a loop to display elements from a given list present at odd index positions
l = [1,2,3,4,5,67,8,9,100]
for i in l[1::2]:
    print(i)

2
4
67
9

In [41]:
#Calculate the cube of all numbers from 1 to a given number
num = int(input("Enter the number"))
for i in range(1 , num+1):
    print(i**3)

Enter the number10
1
8
27
64
125
216
343
512
729
1000