In [1]:
#Reverse a list in Python
list1 = [12,23,45,67,89]
list1[::-1]

[89, 67, 45, 23, 12]

In [4]:
# Concatenate two lists index-wise
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
list3 = [i+j for i,j in zip(list1 , list2)]
list3

['My', 'name', 'is', 'Kelly']

In [7]:
#Turn every item of a list into its square
l = [1,2,34,5,6,7,8,9,10]
res = []
for i in l:
    res.append(i * i)
res

[1, 4, 1156, 25, 36, 49, 64, 81, 100]

In [9]:
#Concatenate two lists in the following order
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
list3 =[i+j for i in list1 for j in list2]
list3

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [11]:
#Iterate both lists simultaneously
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
for x, y in zip(list1, list2[::-1]):
    print(x, y)

10 400
20 300
30 200
40 100

In [13]:
#Remove empty strings from the list of strings
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
for i in list1:
    if i == "":
        list1.remove(i)
list1

['Mike', 'Emma', 'Kelly', 'Brad']

In [28]:
#Write a program to add item 7000 after 6000 in the following Python List
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [29]:
#Extend nested list by adding the sublist
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
sub_list = ["h", "i", "j"]
list1[2][1][2].extend(sub_list)
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [35]:
#Replace listâ€™s item with new value if found
#You have given a Python list. Write a program to find value 20 in the list, and if it is present,
#replace it with 200. Only update the first occurrence of an item.
list1 = [5, 10, 15, 20, 25, 50, 20]
res = list1.index(20)
res
list1[res] = 200
list1

[5, 10, 15, 200, 25, 50, 20]

In [36]:
#Remove all occurrences of a specific item from a list.
list1 = [5, 20, 15, 20, 25, 50, 20]
def remove_value(sample_list, val):
    return [i for i in sample_list if i != val]

res = remove_value(list1, 20)
print(res)

[5, 15, 25, 50]

In [38]:
list1 = [5, 20, 15, 20, 25, 50, 20]
while 20 in list1:
    list1.remove(20)
print(list1)

[5, 15, 25, 50]