In [6]:
# Given two integer numbers return their product only if the product is equal to or lower than 1000, else return their sum.
def data(num1 , num2):
    product = num1*num2
    if(product <= 1000):
        return product
    else:
        return num1 + num2
result = data(200 ,30)
print("result is" , result)

result is 230

In [10]:
#Print the sum of the current number and the previous number
prev_num = 0
for i in range(1,11):
    sum = prev_num + i
    print(sum)
    prev_num = i

1
3
5
7
9
11
13
15
17
19

In [16]:
#Print characters from a string that are present at an even index number
a = input("Enter the string ")
print(a)
x = list(a)
for i in x[0::2]:
    print(i)

Enter the string aman
aman
a
a

In [18]:
#Remove first n characters from a string
def remove_char(word ,n):
    print(word)
    x = word[n:]
    return x
remove_char("akshata" , 4)

akshata

'ata'

In [21]:
#Check if the first and last number of a list is the same
l = [1,2,3,4,56,1]
if (l[1] == l[::-1]):
    print("first and last number of a list is same")
else:
    print("first and last number of the list is not same")

first and last number of the list is not same

In [24]:
#Display numbers divisible by 5 from a list
for i in range(0,20):
    if(i%5 == 0):
        print("Number divisble by 5 in the list", i)

Number divisble by 5 in the list 0
Number divisble by 5 in the list 5
Number divisble by 5 in the list 10
Number divisble by 5 in the list 15

In [27]:
#Return the count of a given substring from a string
str = "hello world , morning world"
count_str = str.count("world")
count_str

2

In [30]:
#Print the following pattern
for num in range(10):
    for i in range(num):
        print(num , end= " ")
    print("\n")

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

6 6 6 6 6 6

7 7 7 7 7 7 7

8 8 8 8 8 8 8 8

9 9 9 9 9 9 9 9 9

In [2]:
#Write a program to check if the given number is a palindrome number.
num = input("Enter the number")
reverse_num = str(num[::-1])
if ( num == reverse_num):
    print("the given number is a palindrome number")
else:
    print("the given number is not a palindrome")

Enter the number121
the given number is a palindrome number

In [4]:
#Given a two list of numbers, write a program to create a new list such that the new list should contain odd numbers from the 
#first list and even numbers from the second list.

def new_list(list1 , list2):
    result_list = []
    for num in list1:
        if num%2 != 0:
            result_list.append(num)
    for num in list2:
        if num % 2 == 0:
            result_list.append(num)
    return result_list
list1 = [12,13,14,15,17,19,20]
list2 = [10,20,30,78,65,45,43]
new_list(list1,list2)

[13, 15, 17, 19, 10, 20, 30, 78]

In [9]:
#Write a Program to extract each digit from an integer in the reverse order.
l = [1,2,3,4,5,6,7,8,10]
data = l[::-1]
data

[10, 8, 7, 6, 5, 4, 3, 2, 1]

In [10]:
#Write a Program to extract each digit from an integer in the reverse order.
num = 1234
while num > 0:
    digit = num %10
    num = num // 10
    print(digit , end = " ")

4 3 2 1

In [16]:
#Print multiplication table form 1 to 10
for i in range(1,11):
    for j in range(1,11):
        print(i*j , end = " " )
    print("\t\t")

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [22]:
# Print downward Half-Pyramid Pattern with Star (asterisk)
for i in range(6,0,-1):
    for j in range(0,i-1):
        print("*" , end = " ")
    print(" ")

* * * * *
* * * *
* * *
* *
*

In [23]:
#Write a function called exponent(base, exp) that returns an int value of base raises to the power of exp.
def exponent(base,exp):
    num = exp
    result = 1
    while num > 0:
        result = result * base
        num = num - 1
    print(result)
exponent(5,4)

625