In [1]:
#Reverse the tuple
tuple1 = (10, 20, 30, 40, 50)
tuple1[::-1]

(50, 40, 30, 20, 10)

In [2]:
#Access value 20 from the tuple
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple1[1][1]

20

In [6]:
#create a tuple with single item 50
t = (50, )
print(t)
type(t)

(50,)

tuple

In [7]:
#Unpack the tuple into 4 variables
tuple1 = (10, 20, 30, 40)
a , b , c , d = tuple1
print(a)
print(b)
print(c)
print(d)

10
20
30
40

In [8]:
#Swap two tuples in Python
tuple1 = (11, 22)
tuple2 = (99, 88)
tuple1 , tuple2 = tuple2 , tuple1
print(tuple1)
print(tuple2)

(99, 88)
(11, 22)

In [9]:
# Copy specific elements from one tuple to a new tuple
tuple1 = (11, 22, 33, 44, 55, 66)
tuple2 = tuple1[3:-1]
tuple2

(44, 55)

In [11]:
#Given is a nested tuple. Write a program to modify the first item (22) of a list inside a following tuple to 222
tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0] = 222
tuple1

(11, [222, 33], 44, 55)

In [12]:
#Sort a tuple of tuples by 2nd item
tuple1 = (('a', 23),('b', 37),('c', 11), ('d',29))
tuple1 = (('a', 23), ('b', 37), ('c', 11), ('d', 29))
tuple1 = tuple(sorted(list(tuple1), key=lambda x: x[1]))
print(tuple1)

(('c', 11), ('a', 23), ('d', 29), ('b', 37))

In [13]:
#Counts the number of occurrences of item 50 from a tuple
tuple1 = (50, 10, 60, 70, 50)
tuple1.count(50)

2

In [14]:
#Check if all items in the tuple are the same
tuple1 = (45, 45, 45, 45)
for i in tuple1:
    if i == tuple1[0]:
        print("True")

True
True
True
True