In [4]:
# Add a list of elements to a set
sample_set = {"Yellow", "Orange", "Black"}
sample_list = ["Blue", "Green", "Red"]
sample_set.update(sample_list)
print(sample_set)

{'Yellow', 'Black', 'Green', 'Blue', 'Red', 'Orange'}

In [5]:
#Return a new set of identical items from two sets
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.intersection(set2)

{30, 40, 50}

In [6]:
#Get Only unique items from two sets
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.union(set2)

{10, 20, 30, 40, 50, 60, 70}

In [8]:
#Update the first set with items that donâ€™t exist in the second set
set1 = {10, 20, 30}
set2 = {20, 40, 50}
set1.difference_update(set2)
print(set1)

{10, 30}

In [9]:
#Remove items from the set at once
set1 = {10, 20, 30, 40, 50}
set1.difference_update({10,20,30})

In [10]:
set1

{40, 50}

In [11]:
#Return a set of elements present in Set A or B, but not both
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
print(set1.symmetric_difference(set2))

{20, 70, 10, 60}

In [13]:
#Check if two sets have any elements in common. If yes, display the common elements
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}
print(set1.intersection(set2))

{10}

In [14]:
#Update set1 by adding items from set2, except common items
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.update(set2)

In [15]:
set1

{10, 20, 30, 40, 50, 60, 70}

In [19]:
#Remove items from set1 that are not common to both set1 and set2
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.intersection_update(set2)
set1

{30, 40, 50}