In [4]:
#Write a program to create a function that takes two arguments, name and age, and print their value.
def data(name , age):
    return name , age

In [5]:
data("Akshata" , 22)

('Akshata', 22)

In [9]:
#Write a program to create function func1() to accept a variable length of arguments and print their value.
def func1(*args):
    for i in args:
        print(i)

In [12]:
func1(100,200)
func1(56,78)

100
200
56
78

In [18]:
#Write a program to create function calculation() such that it can accept two variables and calculate addition and subtraction.
#Also, it must return both addition and subtraction in a single return call.
def calculation(a,b):
    c = a + b
    d = a - b
    print(c)  
    print(d)

In [19]:
calculation(12,23)

35
-11

In [24]:
#Create a function with a default argument
def show_employee(name , salary = 9000):
    return name , salary

In [25]:
show_employee("akshata")

('akshata', 9000)

In [27]:
show_employee("aman" , 8900)

('aman', 8900)

In [29]:
#Write a program to create a recursive function to calculate the sum of numbers from 0 to 10.
def addition(num):
    if num:
        return num + addition(num-1)
    else:
        return 0
res = addition(7)
print(res)

28

In [30]:
#Assign a different name to function and call it through the new name
def display_student(name, age):
    return name , age

In [31]:
display_student("akshata", 34)

('akshata', 34)

In [32]:
show_student = display_student

In [34]:
show_student('emma', 45)

('emma', 45)

In [1]:
#Generate a Python list of all the even numbers between 4 to 30
print(list(range(4,31,2)))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [2]:
#Find the largest item from a given list
l = [1,2,3,4,45,67,7890]
max(l)

7890